<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: #A3CCCC;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
	border: 1px solid;
	margin:5%;
	padding: 20px;
    background-color: white;
}
</style>
</head>
<body>
</body>
</html>
